@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #2c856c;
    --md-typeset-a-color: #008d66;
    --md-accent-fg-color: #007f5c;
    --md-primary-fg-color--dark: #2c856c;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #256149;
    --md-typeset-a-color: #007f5c !important;
    --md-accent-fg-color: #0f9f77 !important;
    --md-primary-fg-color--dark: #256149;

    .md-tabs .md-grid {
        border-bottom: 34px solid #1f4037;
    }

    .md-nav__item .md-nav__link--active:hover {
        opacity: 0.8;
    }
}

.md-footer,
.md-header,
.md-tabs,
.md-grid {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.md-nav {
    font-size: 16px;
}

.md-nav__link {
    padding: 4px 0px;
}

.md-nav > :nth-child(3).md-nav__list,
.md-nav nav[data-md-level="1"] > :nth-child(2) {
    padding: 0 !important;
}

[dir=ltr] .md-nav__item--section>.md-nav,
[dir=ltr] .md-nav--lifted>.md-nav__list>.md-nav__item>.md-nav:not(.md-nav--secondary) {
    margin: 0;
}

.md-typeset .md-content__button {
    display: none;
}

.md-typeset h1 {
    margin-bottom: 40px;
}

.md-nav__item .md-nav__link--active:hover {
    opacity: 0.9;
    color: white;
}

.md-nav__item .md-nav__link--active {
    background-color: var(--md-accent-fg-color);
    color: white;
    padding: 5px 8px;
    padding-top: 6px;
}

.md-nav--secondary .md-nav__link--active:hover {
    color: var(--md-accent-fg-color);
}

.md-nav--secondary .md-nav__link--passed,
.md-nav--secondary .md-nav__link--active {
    background: transparent;
    color: var(--md-default-fg-color);
    padding: 4px 0px;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    box-shadow: 0 0 .4rem .2rem var(--md-default-bg-color);
}

.md-content__inner:before {
    height: 0;
}

.md-content {
    padding: 40px 30px;
}

@media screen and (min-width: 76.25em) {
    [dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
        padding: 0;
        margin: 0;
    }
}

.md-logo svg {
    background: white;
    border-radius: 50%;
    padding: 4px;
}

.md-header--shadow {
    box-shadow: none;
}

.md-tabs .md-grid {
    border-bottom: 34px solid #1f4037;
}

.md-container .md-main {
    position: relative
}

.md-footer .md-copyright {
    width: 100%;
    position: relative;
}

.md-footer .md-copyright::after {
    content: '.';
    position: relative;
    right: -3px;
}

.md-footer .md-copyright::after {
    content: '© 2024 KeyGenQt';
    position: absolute;
    right: 0px;
}

article.md-content__inner {
    margin: 0;
    padding: 0;
}

.md-content picture {
    position: relative;
    font-size: 0;
}

.md-content picture img {
    border: 10px solid #1f4037;
}

.md-content picture::after {
    content: " ";
    background-color: #0f9f77;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 10px;
}

.md-content picture::before {
    content: " ";
    background-color: #0f9f77;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 70px;
}

.md-content a {
    font-size: 16px;
}

.highlight span.filename {
    font-weight: 500;
}

label.md-nav__link[id="__nav_2_label"],
label.md-nav__link[id="__nav_3_label"],
label.md-nav__link[id="__nav_4_label"] {
    font-size: 0;
}
